body {
    background: url('/static/images/homepage.jpg');
    background-size: cover;
    color: lightcoral;
    text-align: center;
  }


  .site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin-top: 300px;
  }

  .site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
  }


  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
