<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Homepage - Hello Todo-List</title>
</head>
<body>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">

            <!-- <img src="/static/images/homepage.jpg"> -->

            <h1>Welcome to Todolist</h1>

            <p class="lead">Make your own Todolist.</p>

            <a href="/login" class="btn btn-md btn-primary">Start Now</a>

        </div>
    </div>

    <footer>
        <p>Copyright Todo 2023. All rights reserved.</p>
    </footer>

    </body>
    </html>
