{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}

<h2 id="create-account">Create an Account</h2>
<form id="create-user-form" action="/users" method="POST">
  <p>
    Email <input type="text" name="email" required>
  </p>

  <p>
    Password <input type="password" name="password" id ="password"autocomplete="on" required>
  </p>
  <p>
    <input type="submit" value="Create Account">
  </p>
</form>

<h2 id="login">Log In</h2>
<form id="login-form" action="/todos" method="POST">
  <p>
    Email <input type="text" name="email" required>
  </p>

  <p>
    Password <input type="password" name="password" autocomplete="on" required>
  </p>

  <p>
    <input type="submit" value="Log In">
  </p>
</form>
<button id="create-user-button">Create Account</button>
<button id="login-button">Log In</button>

<script src="/static/todo.js"> </script>


{% endblock %}
