{% extends 'base.html' %}
{% block title %}Todo-detail{% endblock %}
{% block body %}
<nav class="nav mt-3">
    <a class="nav-link " href="/">Task Master</a>
    <a class="nav-link" href='/todos/{{ todo.todo_list_id}}/create_item' style="text-decoration: none;"><i class="bi bi-cloud-plus-fill"></i>Create more items </a>
    <a class="nav-link" href="/logout" style="text-decoration: none;"><i class="bi bi-box-arrow-right"></i>Logout</a>
    <a class="nav-link ms-auto" href="/change_password"><h5><i class="bi bi-person-fill"></i></h5>change password ?</a>
</nav>
<div class="detail mt-5">
<h2>List Name: {{ todo.description}}</h1>
<img id="todo" src="{{ todo.img }}"><br>

<table class="table table-hover table-sm">
    <thead class="table-primary">
    <tr>
        <th ><h4>Todo Item</h4></th>
        <th><h4>Due date</h4></th>
        <th><h3>Completed</h4></th>
        <th><h4>Action</h4></th>
    </tr>
    </thead>
    <tbody>
        {% for item in items %}
    <tr {% if item.completed %}class="checked"{% endif %}>
        <td>{{ item.todo_item_name}}</td></a>
        <td class="todo-item" >{{ item.due_date.strftime('%a, %b %d, %Y %I:%M %p')}}</td>
        <td class="todo-completed">{{ 'Yes' if item.completed else 'No' }}</td>
        <td><a href ="/todos/{{ todo.todo_list_id}}/items/{{ item.todo_item_id}}/update" style="text-decoration: none;"><i class="bi bi-pencil-square"></i>Edit</a></td>
    </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script src="/static/dueDate.js"></script>
{% endblock %}
