{% extends 'base.html' %}
{% block title %}update an Item{% endblock %}

{% block body %}

<h2>Update an item</h2>
<form action="/todos/{{ todo.todo_list_id}}/items/{{ item.todo_item_id}}/update" method='POST'>
  <p>
    Name <input type="text" name="name" value="{{ item.todo_item_name}}">
  </p>
  <p>
    Due date <input type="datetime-local" name="date" value = "{{ item.due_date}}">
  </p>
  <p>
    Completed: <input type="checkbox" name="completed" {%if item.completed%} checked {% endif %}>
  </p>
  <p>
    <input type="submit" value="Update">
  </p>
</form>

{% endblock %}
